@{
    ViewData["Title"] = "Enrollments";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1>Enrollments</h1>

<form id="myForm">
    <label for="studentsDropdown"><b>Students</b></label>
    <select class="form-control" id="studentsDropdown" name="studentsDropdown"></select>

    <label for="coursesDropdown"><b>Courses</b></label>
    <select class="form-control" id="coursesDropdown" name="coursesDropdown"></select>
</form>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "https://localhost:44355/api/Course",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Course</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].CourseID + '">' + data[i].Title + '</option>';
                }
                $("#coursesDropdown").html(s);

                $.ajax({
                    type: "GET",
                    url: "https://localhost:44355/api/Student",
                    data: "{}",
                    success: function (data) {
                        var s = '<option value="-1">Please Select a Student</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].StudentID + '">' + data[i].FirstMidName  +' ' + data[i].LastName + '</option>';
                        }
                        $("#studentsDropdown").html(s);


                    }
                });
            }
        });

    });
</script>